body, html {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 20px;
	width: 100%;
    height: 100%;
    position: relative;
}
.main-bg {
	background: #4fadc7;
    background: -moz-linear-gradient(top, #4fadc7 0%, #048aaf 100%);
    background: -webkit-linear-gradient(top, #4fadc7 0%,#048aaf 100%);
    background: linear-gradient(to bottom, #4fadc7 0%,#048aaf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fadc7', endColorstr='#048aaf',GradientType=0 );
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #F6EC1F;
	text-align: center;
}
h3 {
	text-align: center;
    line-height: 40px;
    margin: 10px 0;
}
button {
	width: 360px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 26px;
    color: #048AAF;
    margin: 0 auto;
    display: block;
    margin: 90px auto 0;
    outline: none;
    cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
button:hover {
	-webkit-animation: shadow-drop-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: shadow-drop-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
section {
	background-color: #4EADC7;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    padding: 50px;
    line-height: 24px;
    overflow-y: scroll;
    max-height: 250px;
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.question {
	
}
.answer {
	background-color: #fff;
	color: #048AAF;

}
.answer img {
	position: relative;
    top: 20px;
    padding-right: 20px;
}
.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.title {
	margin: 50px 0;
}
.dilemma-name {
	font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.subscribe {
	color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 40px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.subscribe:hover {
	color: #fff;
}
.twitter {
	position: absolute;
    right: 40px;
    bottom: 40px;
	-webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
	-moz-animation: pulsate-fwd 1.5s ease-in-out infinite both;
	animation: pulsate-fwd 1.5s ease-in-out infinite both;
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.twitter:hover {
	-webkit-animation: rotate-center 1s ease-in-out both;
	-moz-animation: rotate-center 1s ease-in-out both;
	animation: rotate-center 1s ease-in-out both;
}
/*Helper classes*/
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.pb-30 {
	padding-bottom: 30px;
}
.pt-30 {
	padding-top: 30px;
}
/*Animations*/
.flip-out-hor-top {
	-webkit-animation: flip-out-hor-top .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: flip-out-hor-top .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: flip-out-hor-top .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-3-31 13:6:9
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flip-out-hor-top{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(70deg);transform:rotateX(70deg);opacity:0}}@keyframes flip-out-hor-top{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(70deg);transform:rotateX(70deg);opacity:0}}
@-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes shadow-drop-bottom{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-bottom{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}
/*Media Queries*/
@media screen and (max-width: 1000px) {
	.container {
		width: 100%;
	}
}